body{
	width:  700px;
	margin: 0 auto;
	text-align: center;
    background-image: url(./imgMAP/fondom.jpg);
	
}
canvas{
	
	border: solid rgb(211, 211, 210) 5px;
	background-image: url("imgMAP/piso.jpg") ;
}

h1{
    
    font-family: 'Times New Roman', Times, serif;

}